<div class="main_div" style='background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.8)), url(https://res.cloudinary.com/claidy/image/upload/v1597945224/etienne-girardet-SHKg9ZV16QU-unsplash_hd6mcv.jpg); height: 100vh; width: 100%'>
  <div class="container">
    <div class="row justify-content-center pt-5">
      <h2>Forgot your password?</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-6">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-6">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
