<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_user.nil? %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-primary"%>
<% else %>
  <% if current_user.owner && current_user.sitter %>
    <%= link_to "Your Requests", requests_path, class: "btn btn-primary"%>
    <%= link_to "All Sitters", sitters_path, class: "btn btn-primary" %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
  <% elsif current_user.owner %>
    <%= link_to "Your Requests", requests_path, class: "btn btn-primary" %>
    <%= link_to "All Sitters", sitters_path, class: "btn btn-primary" %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
  <% elsif current_user.sitter %>
    <%= link_to "Your Requests", requests_path, class: "btn btn-primary" %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
  <% end %>
<% end %>
