<%= simple_form_for [sitter, request] do |f| %>
  <%= f.input :service, :collection => ['Grooming', 'Walking', 'Sitting', 'Cuddling'] %>
  <%= f.association :animal %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :animal_info, placeholder: "Any animal-specific information" %>
  <p>Check if sitter should come to your house:</p>
  <%= f.input :housing %>
  <%= f.input :message, placeholder: "Any additional information" %>
  <%= f.submit %>
<% end %>
