<div class="main_div" style='background-image: url(https://res.cloudinary.com/claidy/image/upload/v1597945224/etienne-girardet-SHKg9ZV16QU-unsplash_hd6mcv.jpg); height: 100vh; width: 100%'>
  <div class="header1">
    <h1>Available sitters</h1>
  </div>

<div class="container">
  <div class="row">
    <div class="sitter_cards">
      <% @sitters.each do |sitter| %>
        <%= link_to sitter_path(sitter) do %>
          <div class="col-md-4">
            <div class="card_list_sitter">
              <% if sitter.photo.attached? %>
                <%= cl_image_tag sitter.photo.key %>
              <% else %>
                <img src="https://res.cloudinary.com/claidy/image/upload/v1597940660/erik-lucatero-d2MSDujJl2g-unsplash_xizsoo.jpg">
              <% end %>
            </div>
            <div class="card_sitter_infos">
              <h2><%= sitter.first_name %></h2>
              <p><%= sitter.address %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
