<h1><%= @sitter.first_name %> <%= @sitter.last_name %></h1>

<p>Details: <%= @sitter.details %></p>
<p>Location: <%= @sitter.address %></p>

<h2>Reviews for <%= @sitter.first_name %></h2>
<% @reviews.each do |review| %>
  <div class="request-review">
    <h4>Rating: <%= review.rating %></h3>
    <p><%= review.content %></p>
  </div>
<% end %>
<h2>Make a new Request</h2>
<%= render "form", sitter: @sitter, request: @request %>
<br>
<%= link_to 'Back to Sitters', sitters_path %>
