<h1><%= @sitter.first_name %> <%= @sitter.last_name %></h1>

<p>Details: <%= @sitter.details %></p>
<p>Location: <%= @sitter.local_area %></p>
<p>Verified: <%= @sitter.verified %></p>

<%= link_to 'Back to Sitters', sitters_path %>
<br>
<%= link_to 'Home', root_path %>
<br>
<%= link_to "Log Out", destroy_user_session_path, method: :delete%>
