<h1><%= @sitter.first_name %> <%= @sitter.last_name %></h1>

<p>Details: <%= @sitter.details %></p>
<p>Location: <%= @sitter.address %></p>
<br>
<%= render "form", sitter: @sitter, request: @request %>
<br>
<%= link_to 'Back to Sitters', sitters_path %>

