<div class="main_div" style='background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.8)), url(https://res.cloudinary.com/claidy/image/upload/v1597945224/etienne-girardet-SHKg9ZV16QU-unsplash_hd6mcv.jpg); height: 100vh; width: 100%'><div class="header1">
  <h1>My Animals</h1>
</div>

  <div class="container animal_container">
      <div class="col-md-6">
        <% @animals.each do |animal| %>
          <%= link_to animal_path(animal) do %>
            <div class="card_list_sitter">

              <% if animal.photo.attached? %>
                <%= cl_image_tag animal.photo.key %>
              <% end %>
              <div class="animal_info">
                <h2><%= animal.name %></h2>
                <p>
                  <%= animal.age %>
                <%= animal.description %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>

        <% if current_user.owner? %>
          <!-- Button trigger modal -->
          <div class="d-flex btn_position">
            <button type="button" class="btn btn-primary dropbtn btn_test bpt" data-toggle="modal" data-target="#animalForm">
              Create a New Animal
            </button>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="animalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="animalForm">Create a New Animal</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render "animals/form", animal: @animal %>
                </div>

              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
